    .root {
    -fx-background-color: #DFDFDF;
}

.compButton {
    -fx-padding: 20px;
    -fx-font-size: 17px;
}

.button {
    -fx-opacity: 1;
    -fx-background-color: #929292;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

.button:hover {
    -fx-background-color: #FFFFFF;

}

#btnHelp {
    -fx-background-color: #DFDFDF;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}



#btnLogOut {
    -fx-background-color: #DFDFDF;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

#btnSaveComponent {
    -fx-background-color: lightgreen;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

#deleteComponent {
    -fx-background-color: #B30000;
    -fx-fill-color: white;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

#deleteComponent:hover {
    -fx-background-color: red;
}

#btnSaveComponent:hover {
    -fx-background-color: #4DCD42;
}

.menuBar {
    -fx-spacing: 10;
    -fx-background-color: #929292;
    -fx-padding: 10;
    -fx-color: white;
    -fx-border-color: black;
}

.openCompButton {
    -fx-background-color: lightblue;
}

.openCompButton:hover {
    -fx-background-color: #21B1FA;
}

    .table-view {
        -fx-min-width: 1035;
        -fx-max-width: 1035;
        -fx-min-height: 459;
        -fx-max-height: 459;
    }




