    .root {
    -fx-background-color: #DFDFDF;
}

.button {
    -fx-opacity: 1;
    -fx-background-color: #929292;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

.button:hover {
    -fx-background-color: #FFFFFF;

}

#btnHelp {
    -fx-background-color: #DFDFDF;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}



#btnLogOut {
    -fx-background-color: #DFDFDF;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

#btnSaveComponent {
    -fx-background-color: lightgreen;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

#deleteComponent {
    -fx-background-color: #cd5c5c;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

#deleteComponent:hover {
    -fx-background-color: red;
}

#btnSaveComponent:hover {
    -fx-background-color: #4DCD42;
}

.menuBar {
    -fx-spacing: 10;
    -fx-background-color: #929292;
    -fx-padding: 10;
    -fx-color: white;
}





