    .root {
    -fx-background-color: #DFDFDF;
}

.compButton {
    -fx-padding: 15px;
    -fx-font-size: 17px;
    -fx-opacity: 1;
    -fx-background-color: #929292;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}


.compButton:hover {
    -fx-background-color: #FFFFFF;

}

#btnAddComponent {
    -fx-opacity: 1;
    -fx-background-color: #929292;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}


.btnMenu {
    -fx-background-color: #DFDFDF;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

.btnMenu:hover {
    -fx-background-color: #FFFFFF;
}


#btnSaveComponent {
    -fx-background-color: lightgreen;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

#deleteComponent {
    -fx-background-color: #B30000;
    -fx-fill-color: white;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

#deleteComponent:hover {
    -fx-background-color: red;
}

#btnSaveComponent:hover {
    -fx-background-color: #4DCD42;
}

.menuBar {
    -fx-spacing: 10;
    -fx-background-color: #929292;
    -fx-padding: 10;
    -fx-color: white;
    -fx-border-color: black;
}

.openCompButton {
    -fx-background-color: lightblue;
}

.openCompButton:hover {
    -fx-background-color: #21B1FA;
}

.table-view {

}




