.root {
    -fx-background-color: #DFDFDF;
    -fx-font-family: Arial;
    -fx-font-size: 12px;
}

.button {
    -fx-background-color: #DFDFDF;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

.button:hover {
    -fx-background-color: #FFFFFF;
}

.deleteButton:hover {
    -fx-background-color: red;
}

.deleteButton {
    -fx-min-width: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #B30000;
    -fx-fill-color: white;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

.componentButton {
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-background-color: #929292;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

.componentButton:hover {
    -fx-background-color: #656565;
}

.hbox1 {
    -fx-background-color: white;
    -fx-spacing: 10;
    -fx-min-width: 100%;
    -fx-min-height: 60px;
    -fx-alignment: center;
    -fx-padding: 5px;
}

.hbox2 {
    -fx-background-color: #DBE1E3;
    -fx-spacing: 10;
    -fx-min-width: 100%;
    -fx-min-height: 60px;
    -fx-alignment: center;
    -fx-padding: 5px;
}

.compnentVbox {
    -fx-spacing: 0;
}

.table-view {
    -fx-min-width: 960;
    -fx-max-width: 960;
}

.menuBar {
    -fx-spacing: 10;
    -fx-background-color: #929292;
    -fx-padding: 10;
    -fx-color: white;
}

.infoLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.saveConfButton {
    -fx-background-color: lightgreen;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.saveConfButton:hover {
     -fx-background-color: #4DCD42;
 }

.openConfButton {
    -fx-background-color: lightblue;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.openConfButton:hover {
    -fx-background-color: #21B1FA;
}


