.root {
    -fx-background-color: white;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: D0E9F3;
    -fx-opacity: 0.7;
}

.button:hover {
    -fx-opacity: 1;
}

.deleteButton {
    -fx-min-width: 30px;
    -fx-max-height: 30px;
}

