.root {
    -fx-background-color: white;
    -fx-font-family: Arial;
    -fx-font-size: 12px;
}

.button {
    -fx-background-color: D0E9F3;
}

.button:hover {
    -fx-background-color: blue;
}

.deleteButton:hover {
    -fx-background-color: red;
}

.deleteButton {
    -fx-min-width: 30px;
    -fx-max-height: 30px;
    -fx-background-color: B30000;
}

.componentButton {
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-background-color: grey;
}

.componentButton:hover {
    -fx-background-color: black;
}

.hbox1 {
    -fx-background-color: white;
    -fx-spacing: 10;
    -fx-min-width: 100%;
    -fx-min-height: 60px;
    -fx-alignment: center;
    -fx-padding: 5px;
}

.hbox2 {
    -fx-background-color: DBE1E3;
    -fx-spacing: 10;
    -fx-min-width: 100%;
    -fx-min-height: 60px;
    -fx-alignment: center;
    -fx-padding: 5px;
}

.compnentVbox {
    -fx-spacing: 0;
}

.table-view {
    -fx-min-width: 1350;
    -fx-max-width: 1350;
}

.menuBar {
    -fx-spacing: 10;
    -fx-background-color: grey;
    -fx-padding: 10;
}

.infoLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}